.header
	background-color: #fff
	margin-bottom: 30px

.nav
	display: flex
	align-items: center
	justify-content: center
	position: relative
	&__link
		margin-right: 15px
		font-size: 20px
		transition: text-decoration .3s ease
		&_active, &:hover
			text-decoration: underline
	&__buttons
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 20px
		.btn
			margin-right: 10px


i
	cursor: pointer
	margin-right: 5px

.collection
	margin: 0 10%

.song
	&__title
		margin-right: 20px
		vertical-align: top
		line-height: 24px
		font-size: 20px

.likes-count 
	margin-right: 5px
	line-height: 24px
	font-size: 18px
	vertical-align: top


